@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Poppins:wght@300&display=swap');
h1 {
    font-family: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

p {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Baloo Bhai 2', sans-serif;
    font-size: 20px; 
    /* font-style:italic;
    font-weight: 500;  */
    
}
h2{
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: rgb(0, 217, 255);
    /* text-decoration-style: dotted; */
    text-decoration-thickness: 7px ;
    /* text-indent: 45px; */
}
.lorem{
    border: 2px solid rgb(29, 2, 2);
    width: 145px;
    word-break: break-all;
    /* text-overflow: ellipsis;
    overflow: hidden; */

}


/* color Properties */

h1 {
    /* color:darkred; */
    /* color: #0BEE0B; */
    /* color: rgb(76, 125, 59); */
    /* color: rgba(255, 22, 5, 0.175) */
    color: hsl(239, 61%, 44%);
    background-color: rgb(88, 65, 21);
}
