* {
    margin: 0;
    padding: 0;
}

html{
    font-size: 12px;
}
.box {
    box-sizing: border-box;
    border: 2px solid black;
    /* width: 2048px; */
    width: 80vw;
    height: 10vh;
    margin: auto;
    background-color: aquamarine;
}
.container {
    box-sizing: border-box;
    border: 2px solid black;
    /* width: 2048px; */
    width: 80vw;
    /* height: 80vh; */
    min-height: 80vh;
    margin: 23px auto;
    font-size: 18px;
    background-color: aquamarine;
}
.container > div{
    font-size: 2em; 
    border: 2px solid rgb(107, 106, 22);
    width: 50%;
}

.container > div > div{
    border: 2px solid rgb(8, 8, 53);
    width: 50%;
}
.mycont{ 
    border: 2px solid black;
    box-sizing: border-box;
    margin: 23px auto;
    color: rgb(0, 0, 0);
    font-size: 22px;
    /* width: 100vmin; */
    width: 80vw;
}