*{
    margin: 0;
    padding: 0;
}
.box {
    border: 2px solid rgb(3, 3, 29);
    display: inline-block;
    width: 344px;
    padding:45px;
    margin: 34px; 
}

.box1{
    /* display: none; */
    /* visibility: hidden; */
}